.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    text-decoration: none;
    /* box-shadow: 2px 2px 5px #9dbfbc; */
}

.card:hover {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    box-shadow: 2px 2px 5px #9dbfbc;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 11rem;
    padding: 1.25rem;
}

.card-title {
    margin-bottom: 0.75rem;
    color: var(--darkgray);
}

.card-text:last-child {
    margin-bottom: 0;
}

.card-img, .card-img-top {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}


/* .fixed-chars {
    width: 100ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
} */